-content_for :javascript do
  :javascript
    var sentenceData = #{Analyzer.sentence_counts(@submission.processed, @submission.id).to_a.to_json};
%div#analysis.white_box
  %h2
    Analysis
  %p
    Word Count: #{word_count(@submission)}
  %p
    Unique Words: #{unique_word_count(@submission)}
  %p
    Ten Most Used Words (Most Common Words Excluded): 
  %p.nested
    #{most_used_uncommon(@submission, 10)}
  %p
    Groups Of 3 Words Used More Than Twice:
  %p.nested
    #{repeated_word_groups(@submission, 3)}
  %p
    Sentence Count: #{sentence_count(@submission)}
  %p
    Average Words Per Sentence: #{average_sentence_length(@submission)}
  %div#sentence_chart
  %p
    =link_to "Lexical Density","http://en.wikipedia.org/wiki/Lexical_density"
    =": #{lexical_density(@submission)}"
  %p
    =link_to "Gunning Fog Index","http://en.wikipedia.org/wiki/Gunning_fog_index"
    =": #{gunning_fog(@submission)}"
  %p
    =link_to "Flesch Reading Ease","http://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_test#Flesch_Reading_Ease"
    =": #{flesch_kincaid(@submission)}"
  %p
    =link_to "Flesch-Kincaid Grade Level","http://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_test#Flesch.E2.80.93Kincaid_Grade_Level"
    =": #{flesch_kincaid_grade(@submission)}"
