-content_for :javascript do
  :javascript
    var sentenceData = #{Analyzer.sentence_counts(@submission.processed, @submission.id).to_a.to_json};
%div#analysis.white_box
  %h2
    Analysis
  %p
    Word Count: #{word_count(@submission)}
  %p
    Unique Words: #{unique_word_count(@submission)}
  %p
    Ten Most Used Uncommon Words: #{most_used_uncommon(@submission, 10)}
  %p
    Sentence Count: #{sentence_count(@submission)}
  %p
    Average Words Per Sentence: #{average_sentence_length(@submission)}
  %div#sentence_chart
  %p
    Lexical Density: #{lexical_density(@submission)}
  %p
    Gunning Fog Index: #{gunning_fog(@submission)}
  %p
    Flesch-Kincaid Readability: #{flesch_kincaid(@submission)}
  %p
    Flesch-Kincaid Grade Level: #{flesch_kincaid_grade(@submission)}
